<% if @congressman.opensecrets_contributors.nil? or @congressman.opensecrets_contributors=="null"%>

  <p>No campaign finance information available for this congressman.</p>

<% else %>

  <% contributors = JSON.parse(@congressman.opensecrets_contributors) %>

    t.float    "pct_spent"
    t.float    "pct_self"
    t.float    "pct_indiv"
    t.float    "pct_pac"
    t.integer  "money_raised"

  <div class='row'>
    <h2 class='span12'>Finances</h2>
    <div class='span6'>
      <h3>Organizational Contributors</h3>
      <% top_contrib = contributors[0]['total'].to_i %>
      <% contributors.each do |contributor| %>
        <strong><%= contributor['org_name'] %>:</strong> $<%= number_to_human(contributor['total'].to_i*1000, :precision => 0) %>
        <% bar_width = Float(contributor['total'].to_i)/top_contrib * 100 %>
          <div class="progress" style="width: <%= bar_width%>%">
            <div class="bar" style="width: 100%;"></div>
          </div>
      <% end %>
    </div>
    <div class='span6'>
      <h3>Industry Contributors and Amount from PACs</h3>
      <% contributors = JSON.parse(@congressman.opensecrets_industries) %>
      <% top_contrib = contributors[0]['total'].to_i %>
      <% contributors.each do |contributor| %>
        <% width = Float(contributor['pacs'].to_i)/contributor['total'].to_i * 100 %>
        <% bar_width = Float(contributor['total'].to_i)/top_contrib * 100 %>
          <%= contributor['industry_name'] %>: $<%= number_to_human(contributor['total'].to_i*1000, :precision => 0) %>
          <div class="progress"
            style="width: <%= bar_width%>%">
            <div class="bar"
            style="width: <%= width %>%;"><%= number_with_precision(width, :precision => 1) %>%</div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>

financial information via the <a href='http://www.opensecrets.org/'>Center for Responsive Politics</a>

<hr>