<%
   facts = data['factcheck'];
   quoted = data['quoted'];
   voted = data['voted'];
   sponsored = data['sponsored'];
   rated = data['rated'];
%>
<% unless rated.empty? %>
<h4>Agency Ratings:</h4>
  <ul>
    <% rated.each do |rating| %>
      <li><%= rating %></li>
    <% end %>
  </ul>
<% end %>
<% unless facts.empty? %>
<h4>Factcheck:</h4>
  <ul>
    <% facts.each do |fact| %>
      <li><%= fact %></li>
    <% end %>
  </ul>
<% end %>
<% unless quoted.empty? %>
<h4>Quotes:</h4>
  <ul>
    <% quoted.each do |quote| %>
      <li><%= quote %></li>
    <% end %>
  </ul>
<% end %>
<% unless voted.empty? %>
<h4>Votes:</h4>
  <ul>
    <% voted.each do |vote| %>
      <li><%= vote %></li>
    <% end %>
  </ul>
<% end %>
<% unless sponsored.empty? %>
<h4>Sponsored:</h4>
  <ul>
    <% sponsored.each do |sponsor| %>
      <li><%= sponsor %></li>
    <% end %>
  </ul>
<% end %>