    <h3>Legislative Activity</h3>

    <div class='facts-box'>
      <div class='heading'>Votes with Party</div>
      <ul>
        <li><%= number_to_percentage(@congressman.with_party_percentage, :precision => 2) %></li>
        <li>Ranked <%= @congressman.party_votes_percentage_rank %>/430</li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Abstains</div>
      <ul>
        <li><%= number_to_percentage(@congressman.abstains_percentage.to_f*100, :precision => 2) %></li>
        <li>Ranked <%= @congressman.abstains_percentage_rank %>/430</li>
        <li>Abstained <%= @congressman.abstains %> times</li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Cosponsored Bills</div>
      <ul>
        <li><%= @congressman.cosponsored_bills %></li>
        <li>cosponsored</li>
        <li>Ranked <%= @congressman.cosponsored_bills_rank %>/430</li>
      </ul>
      <ul>
        <li><%= @congressman.cosponsored_bills_passed %></li>
        <li>passed</li>
        <li>Ranked <%= @congressman.cosponsored_bills_passed_rank %>/430</li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Sponsored Bills</div>
      <ul>
        <li><%= @congressman.sponsored_bills %></li>
        <li>cosponsored</li>
        <li>Ranked <%= @congressman.sponsored_bills_rank %>/430</li>
      </ul>
      <ul>
        <li><%= @congressman.sponsored_bills_passed %></li>
        <li>passed</li>
        <li>Ranked <%= @congressman.sponsored_bills_passed_rank %>/430</li>
      </ul>
    </div>

      <h4>Votes with/against:</h4>
      <ul class='unstyled'>
        <li>votes_democratic_position: <%= @congressman.votes_democratic_position %></li>
        <li>votes_republican_position: <%= @congressman.votes_republican_position %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.votes_least_often_with_id.to_s) %>
        <li>votes_least_often_with_id: <%= link_to_unless(c.nil?, c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.votes_most_often_with_id.to_s) %>
        <li>votes_most_often_with_id: <%= link_to_unless(c.nil?, c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.same_party_votes_least_often_with_id.to_s) %>
        <li>same_party_votes_least_often_with_id: <%= link_to_unless(c.nil?, c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.opposing_party_votes_most_often_with_id.to_s) %>
        <li>opposing_party_votes_most_often_with_id: <%= link_to_unless(c.nil?, c.name, c) %></li>
      </ul>

      <h4>Voting stats</h4>
      <ul class='unstyled'>
        <li>total_session_votes: <%= @congressman.total_session_votes %></li>
      </ul>

      <h4>Media:</h4>
      <ul class='unstyled'>
        <li>metavid_id: <%= @congressman.metavid_id %></li><!--
        <li>recent_news: <%= @congressman.recent_news %></li>
        <li>recent_blogs: <%= @congressman.recent_blogs %></li> -->
      </ul>
    <h3>Legislative Activity</h3>

  <ul class='unstyled'>
    <% unless @congressman.n_earmark_requested.nil? or @congressman.n_earmark_requested.nil? %>
      <li><h4>Earmarks:</h4>
        <ul>
          <li>Number received/requested: <%= @congressman.n_earmark_received %>/<%= @congressman.n_earmark_requested %></li>
          <li>Amount received/requested: $<%= number_to_human(@congressman.amt_earmark_received) %>/$<%= number_to_human(@congressman.amt_earmark_requested) %>
          <% width = Float(@congressman.amt_earmark_received)/Float(@congressman.amt_earmark_requested)*100 %>
          <% color = (@congressman.party == 'R')? 'progress-danger' : '' %>
          <div class='progress <%= color %>' style="width: 80%"><div class="bar"
            style="width: <%= width %>%;"><%= number_with_precision(width, :precision => 1) %>%</div>
          </div>
        </ul>
      </li>
    <% end %>
    <% unless @congressman.pct_vote_received.nil? %>
      <li><strong>Pct vote received:</strong> <%= @congressman.pct_vote_received %></li>
    <% end %>
    <% unless @congressman.predictability.nil? %>
      <li><strong>Predictability:</strong> <%= number_to_percentage(@congressman.predictability*100) %> </li>
    <% end %>
    <% unless @congressman.last_elected_year.nil? or @congressman.last_elected_year.empty? %>
      <li><i class='icon-legal'></i> <strong>Last elected year:</strong> <%= @congressman.last_elected_year %></li>
      <li><strong>Amount votes received:</strong> <%= number_to_human(@congressman.n_vote_received) %></li>
    <% end %>
    <% unless @congressman.n_speeches.nil? or @congressman.words_per_speech.nil? %>
      <li><strong>Speeches:</strong> average <%= @congressman.words_per_speech %> words/speech (in <%= @congressman.n_speeches %> speeches)
      </li>
    <% end %>
  </ul>