    <h3>Legislative Activity<small> from <a href='http://www.opencongress.com'>OpenCongress</a></small></h3>

    <div class='facts-box'>
      <div class='heading'>Votes with Party</div>
      <ul>
        <li><%= number_to_percentage(@congressman.with_party_percentage, :precision => 2) %></li>
        <li>Ranked <%= @congressman.party_votes_percentage_rank %>/430</li>
        <li>Total Votes: <%= @congressman.total_session_votes %></li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Abstains</div>
      <ul>
        <li><%= number_to_percentage(@congressman.abstains_percentage.to_f, :precision => 2) %></li>
        <li>Ranked <%= @congressman.abstains_percentage_rank %>/430</li>
        <li>Abstained <%= @congressman.abstains %> times</li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Cosponsored Bills</div>
      <ul>
        <li><%= @congressman.cosponsored_bills %></li>
        <li>cosponsored</li>
        <li>Ranked <%= @congressman.cosponsored_bills_rank %>/430</li>
      </ul>
      <ul>
        <li><%= @congressman.cosponsored_bills_passed %></li>
        <li>passed</li>
        <li>Ranked <%= @congressman.cosponsored_bills_passed_rank %>/430</li>
      </ul>
    </div>

    <div class='facts-box'>
      <div class='heading'>Sponsored Bills</div>
      <ul>
        <li><%= @congressman.sponsored_bills %></li>
        <li>cosponsored</li>
        <li>Ranked <%= @congressman.sponsored_bills_rank %>/430</li>
      </ul>
      <ul>
        <li><%= @congressman.sponsored_bills_passed %></li>
        <li>passed</li>
        <li>Ranked <%= @congressman.sponsored_bills_passed_rank %>/430</li>
      </ul>
    </div>

    <div>
      <div class='heading'>Votes with/against:</div>
      <ul>
        <li>Democratic position votes: <%= @congressman.votes_democratic_position %></li>
        <li>Republican position votes: <%= @congressman.votes_republican_position %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.votes_least_often_with_id.to_s) %>
        <li>Votes least often with: <%= c.nil? ? '' : link_to(c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.votes_most_often_with_id.to_s) %>
        <li>Votes most often with: <%= c.nil? ? '' : link_to(c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.same_party_votes_least_often_with_id.to_s) %>
        <li>Votes least often with from the same party: <%= c.nil? ? '' : link_to(c.name, c) %></li>
        <% c = Congressman.find_by_govtrack_id(@congressman.opposing_party_votes_most_often_with_id.to_s) %>
        <li>Votes most often with from same party: <%= c.nil? ? '' : link_to(c.name, c) %></li>
      </ul>
    </div>