<% content_for :title do %>
  List Congressmen
<% end %>

<div class="span12">
  <table class='table table-bordered table-condensed'>
    <tr>
      <th><%= sortable "last_name" do |direction| %>
        Name <i class='icon-sort<%= direction %>'></i></th>
      <% end %></th>
      <th> <%= sortable "party" do |direction| %>
        Party Affiliation <i class='icon-sort<%= direction %>'></i></th>
      <% end %></th>
      <th><%= sortable "state" do |direction| %>
        State <i class='icon-sort<%= direction %>'></i>
      <% end %></th>
      <th>District</th>
    </tr>

  <% @congressmen.each do |congressman| %>
    <tr class='<%=congressman.party%>'>
      <td><%= congressman.title %>. <%= link_to congressman.name, congressman %></td>
      <td><%= congressman.party_name %></td>
      <td><%= congressman.state %></td>
      <td><%= congressman.district %></td>
      <td><%= link_to congressman do %><div class='btn btn-small'>Go</div><% end %></td>
    </tr>
  <% end %>
  </table>
</div>
