<% content_for :title do %>
  List Congressmen
<% end %>

<div class="span12">
  <table class='table table-bordered table-condensed'>
    <tr>
      <th><%= sortable "first_name", "Name" %></th>
      <th><%= sortable "party", "Party Affiliation" %></th>
      <th><%= sortable "state", "State" %></th>
      <th>District</th>
    </tr>

  <% @congressmen.each do |congressman| %>
    <tr class='<%=congressman.party%>'>
      <td><%= congressman.title %>. <%= link_to congressman.name, congressman %></td>
      <td><%= congressman.party_name %></td>
      <td><%= congressman.state %></td>
      <td><%= congressman.district %></td>
      <td><%= link_to congressman do %><div class='btn btn-small'>Go</div><% end %></td>
    </tr>
  <% end %>
  </table>
</div>
