<% content_for :title do %>
  List Congressmen
<% end %>

<div class="span12">
  <table class='table table-bordered table-condensed'>
    <tr>
      <th>Name</th>
      <th>Party Affiliation</th>
      <th>Title</th>
      <th>District</th>
      <th></th>
    </tr>

  <% @congressmen.each do |congressman| %>
    <tr class='<%=congressman.party%>'>
      <td><%= link_to congressman.name, congressman %></td>
      <td><%= congressman.party %></td>
      <td><%= congressman.title %></td>
      <td><%= congressman.state %></td>
      <td><%= link_to congressman do %><div class='btn btn-small'>Go</i><% end %></td>
    </tr>
  <% end %>
  </table>
</div>
