<% content_for :title do %>
  <%= @congressman.name %>
<% end %>

<% # parsed_json = JSON.parse @congressman.json %>
<%  parsed_json = {} %>

<div class='row'>
<div class="span3">
  <img class="thumbnail" src="/assets/photos/<%= parsed_json['bioguide_id'] %>.jpg" alt="" />
</div>
  <div class="span3 offset3">
    <h2><%= @congressman.party_name %>
    <%= @congressman.title %>
    <%= @congressman.state %>-<%= @congressman.district %></h2>
    <ul class="unstyled">
    <li><i class='icon-phone'></i> Phone: <%= parsed_json['phone'] %></li>
    <li><i class='icon-globe'></i> <a href="<%= parsed_json['website'] %>">Website</a></li>
    <li><i class='icon-pencil'></i> <a href="<%= parsed_json['webform'] %>">Contact</a></li>
    <li><i class='icon-book'></i> <a href="<%= parsed_json['congresspedia_url'] %>">Congresspedia</a></li>
    <li><i class='icon-twitter'></i> <a href="http://www.twitter.com/#/@<%= parsed_json['twitter_id'] %>">Twitter</a></li>
    </ul>
  </div>
</div>

<hr>

<div class='row'>
<h2>On the Issues</h2>
<p>Click through to explore issues:</p>
<div class="span6">
    <h3>Word Frequency in Congressional Record</h3>
    <div id="chart" class='<%=@congressman.party%>'></div>
</div>
</div>

<hr>

<% contributors = parsed_json['opensecrets_contributors'] %>
<% unless contributors.nil? %>
  <div class='row'>
    <h2>Finances</h2>
    <div class='span6'>
      <h3>Organizational Contributors</h3>
      <% contributors = parsed_json['opensecrets_contributors'] %>
      <table class='table table-striped table-bordered table-condensed'>
        <tr>
          <th>Name</th>
          <th>Money</th>
        </tr>
      <% contributors.each do |contributor| %>
        <tr>
          <td><%= contributor['org_name'] %></td>
          <td><%= contributor['total'] %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class='span6'>
      <h3>Industry Contributors</h3>
      <% contributors = parsed_json['opensecrets_industries'] %>
      <table class='table table-striped table-bordered table-condensed'>
        <tr>
          <th>Industry Name</th>
          <th>PACs</th>
          <th>Indivs</th>
          <th>Money</th>
        </tr>
      </table>
      <% top_contrib = contributors[0]['total'].to_i %>
      <% contributors.each do |contributor| %>
        <% width = Float(contributor['pacs'].to_i)/contributor['total'].to_i * 100 %>
        <% bar_width = Float(contributor['total'].to_i)/top_contrib * 100 %>
          <%= contributor['industry_name'] %>: $<%= number_to_human(contributor['total'].to_i*1000, :precision => 0) %>
          <div class="progress"
            style="width: <%= bar_width%>%">
            <div class="bar"
            style="width: <%= width %>%;"><%= number_with_precision(width, :precision => 1) %>%</div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>

<hr>
</div>