<% content_for :title do %>
  <%= @congressman.name %>
<% end %>

<div class='row'>
  <% if @congressman.in_office %>
    <div class='span12 alert alert-success'>
      Currently in office
    </div>
  <% else %>
    <div class='span12 alert alert-error'>
      Not in office
    </div>
  <% end %> 
  <div class="span3">
    <img class="thumbnail" src="/assets/photos/<%= @congressman.bioguide_id %>.jpg" alt="" />
  </div>
  <div class="span3">
    <ul class='unstyled'>
      <% unless @congressman.party_votes_percentage.nil? %>
        <li><strong>Votes with party:</strong> <%= number_to_percentage(@congressman.party_votes_percentage) %></li>
        <li><strong>Votes with party rank:</strong> <%= @congressman.party_votes_percentage_rank %> of 440</li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => "social" %>
</div>

<hr>

<div class='row'>
  <div class='span12'>
    <h2>On the Issues</h2>
    <p>Click through to explore issues:</p>
  </div>
    <div class="span6">
        <h3>Issue Stances</h3>
    </div>
    <div class="span6">
        <h3>Word Frequency in Congressional Record</h3>
        <!-- <div id="chart" class='<%=@congressman.party%>'></div> -->
    </div>
</div>

<hr>

<%= render :partial => 'quickfacts' %>

<hr>

<%= render :partial => 'voting_habits' %>

<hr>

<%= render :partial => 'finances' %>

</div>