<% content_for :title do %>
  <%= @congressman.name %>
<% end %>

<div class='row'>
  <% if @congressman.in_office %>
    <div class='span12 alert alert-success'>
      Currently in office
    </div>
  <% else %>
    <div class='span12 alert alert-error'>
      Not in office
    </div>
  <% end %>
  <div class="span3">
    <img class="thumbnail" src="/assets/photos/<%= @congressman.bioguide_id %>.jpg" alt="" />
  </div>
  <div class="span3">
    <h3>Biographical Facts</h3>
    <ul class='unstyled'>
      <% unless @congressman.nickname.nil? or @congressman.nickname.empty? %>
        <li><strong>Nickname:</strong> <%= @congressman.nickname %></li>
      <% end %>
      <% unless @congressman.birthdate.nil? or @congressman.birthdate.empty? %>
        <li><strong>Birth:</strong> <%= @congressman.birthdate %>, <%= @congressman.birthplace %></li>
      <% end %>
      <% unless @congressman.religion.nil? or @congressman.religion.empty? %>
        <li><strong>Religion:</strong> <%= @congressman.religion %></li>
      <% end %>
      <% unless @congressman.education.nil? or @congressman.education.empty? %>
        <li><strong>Education:</strong> <%= @congressman.education %></li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => "social" %>
</div>

<hr>

<div class='row'>
  <div class='span12'>
    <h2>Legislative Activity</h3>
  </div>
    <div class="span6">
      <%= render :partial => 'voting_habits' %>
    </div>
    <div class="span6">
        <h3>Word Frequency in Congressional Record</h3>
        <div id="chart" class='<%=@congressman.party%>'></div>
    </div>
</div>

<hr>

<%= render :partial => 'finances' %>

</div>